.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
    z-index: 101;
}

.myModalContent {
    font-family: 'JakobCTT';
    font-size: large;
    text-align: center;
    padding: 25px;
    color: var(--colorText);
    border-radius: 16px;
    min-width: 250px;
box-shadow: inset 19px -19px 38px #8d8d89,
inset -19px 19px 38px #d3d3ce;
background-color:var(--colorBackgroundAll);
  background-image: var(--allBackroundImage);

}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.myModalContent:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 1px dashed salmon;
    border-radius: 5px;
    }
 .playBtn {
        position: absolute;
        top: -1%;
        left: 83%;
        background-color: var(--colorBackgroundAll);
        border: none; 
        color: white; 
        padding: 2px 6px;
        font-size: 14px; 
        border-radius: .5em;
        cursor: pointer;
        border: #d3d3ce solid;
        /* z-index: 101; */
    }