.row {
    /* margin-left: 0.25em; */
    margin-right: -0.75em;
    max-height: 40rem;
    overflow-y: scroll;
    border-radius: 2em;
    scrollbar-width: none;
}

.row::-webkit-scrollbar {
    width: 1px;
  }

.row::after {
    content: " ";
    display: block;
    clear: both;
}

/* .column50 {
    width: 100%;
} */
[class*="column50"] {
    float: left;
    padding: -1em 0.75em;
    margin-top: 0;
    margin-left: 1.5em;
    /* width: min-content; */
}
.media {
    float: left;
    font-size: 0.5em;
    margin: 1.5em 1.5em 0.5em 0;
    width: calc(50% - 1.5em);
    height: auto;
   padding: 2.4em; 
   background-color: #31775441;
   border-radius: 0.5em;
   box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3), 0 5px 21px 0 rgba(0,0,0,0.18);
   border: 2px dotted  #fd8510;
   clip-path: polygon(-27% 41%, 100% -47%, 100% 79%, 0% 151%);
}
.media p {
  font-family: 'JakobCTT';
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    color: #fff;
    background-color: var(--buttonBack);
    border-radius: 0.5em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    clip-path: polygon(-63% 41%, 78% -17%, 100% 91%, 0% 113%);
    /* border: 1px solid  white; */
    /* margin: 0%; */
    /* padding: 0 1em 0 1em; */
}
.media span {
  font-family: 'JakobCTT';
    text-align: center;
    font-size: 1.7em;
    background-color: #688f6d;
    /* border-radius: 0.5em; */
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin: 0%;
    color: #eff1e2;
    /* padding: 0 1em 0 1em; */
}
.media:hover{
   cursor: pointer;
   /* transform: translate(15px, -5px); */
 }

 .mediaImage {
    /* float: left; */
    margin-right: - 1.5em;
    padding-bottom: 0.5em;
    padding-bottom: 0.5em;
    min-height: 70px;
  display: flex;
  align-items: center;
}

.mediaImage >img {
    /* display: block;
    width: 100%;
    height: 87px;
    object-fit: cover; */
    display: block;
    width: 99%;
    height: 108px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.3), 0 5px 21px 0 rgba(0,0,0,0.18);
    border: 2px dotted  #fd8510;
    /* box-shadow: var(--boxShadow); */
    
  }
  .btnHome {
      position: absolute;
      cursor: pointer;
      top: 97%;
      left: 40%;
      border-radius: 0.5em;
      padding: 0.5em;
      color: white;
      border: 1px solid #eeeeee;
      background-color: var(--buttonBack);
  }