.App {
  text-align: center;
}







.device,
.device::before,
.device::after,
.device *,
.device *::before,
.device *::after {
	box-sizing: border-box;
	/* display: block; */
}
.device {
	position: relative;
	margin: 30px auto;
}
.device .device-frame {
	z-index: 1;
}
.device-iphone-x {
	height: 694px;
	width: 342px;
}
.device-iphone-x .device-frame {
	background: rgba(26, 87, 87, 0.884);
	border-radius: 54px;
	box-shadow: inset 0 0 0 2px #606467, inset 0 0 0 6px #e2e3e4;
	height: 694px;
	padding: 22px;
	width: 342px;
}
.device-iphone-x .device-content {
	/* background-color: #026873; */
	background-color: #000;
	background-image: 
		repeating-linear-gradient(transparent, transparent 50px, rgba(0,255,255, .25) 50px, rgba(0,255,255, .25) 100px), 
		repeating-linear-gradient(90deg, rgba(0,255,255, .25), rgba(0,255,255, .25) 50px, transparent 50px, transparent 100px),
		repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px),
		repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px),
		repeating-linear-gradient(transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, transparent 21px, transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px),
		repeating-linear-gradient(90deg, transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, transparent 21px, transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px);
	/* background-image: url("https://media1.popsugar-assets.com/files/thumbor/xRjhuuBdFaAu-rBmgFsQdm7_r8s/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2020/09/23/953/n/1922507/c3018d08a1be257e_pexels-sharon-mccutcheon-3713892/i/ios-14-wallpaper-ideas.jpg"); */
	background-position: center center;
	background-size: cover;
	border-radius: 32px;
	height: 650px;
	position: relative;
	width: 300px;
}
@keyframes ani2 {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
  }
.device-iphone-x .device-stripe::after,
.device-iphone-x .device-stripe::before {
	border: solid rgba(51, 51, 51, .25);
	border-width: 0 6px;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 9;
}
.device-iphone-x .device-stripe::after {
	top: 68px;
}
.device-iphone-x .device-stripe::before {
	bottom: 88px;
}
.device-iphone-x .device-header {
	background: rgba(26, 87, 87, 0.884);;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border: 1px solid #eeeeee;
	border-top:1px solid #bcbdc2;
	height: 24px;
	left: 50%;
	margin-left: -82px;
	position: absolute;
	top: 22px;
	width: 164px;
	z-index: 199;
}
.device-iphone-x .device-header::after,
.device-iphone-x .device-header::before {
	content: "";
	height: 6px;
	position: absolute;
	top: 0;
	width: 6px;
}
.device-iphone-x .device-header::after {
	background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, #222 75%, #222 100%);
	left: -6px;
}
.device-iphone-x .device-header::before {
	background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, #222 75%, #222 100%);
	right: -6px;
}
.device-iphone-x .device-sensors::after,
.device-iphone-x .device-sensors::before {
	content: "";
	position: absolute;
}
.device-iphone-x .device-sensors::after {
	background: #e7e2e2;
	border-radius: 2.5px;
	height: 5px;
	left: 50%;
	margin-left: -20px;
	top: 4px;
	width: 40px;
}
.device-iphone-x .device-sensors::before {
	background: #e7e2e2;
	border-radius: 50%;
	height: 11px;
	left: 50%;
	margin-left: 30px;
	top: 1px;
	width: 11px;
}
.device-iphone-x .device-btns {
	background: #606467;
	height: 26px;
	left: -2px;
	position: absolute;
	top: 92px;
	width: 3px;
}
.device-iphone-x .device-btns::after,
.device-iphone-x .device-btns::before {
	background: #606467;
	content: "";
	height: 50px;
	left: 0;
	position: absolute;
	width: 3px;
}
.device-iphone-x .device-btns::after {
	top: 48px;
}
.device-iphone-x .device-btns::before {
	top: 112px;
}
.device-iphone-x .device-power {
	background: #606467;
	height: 80px;
	position: absolute;
	right: -2px;
	top: 160px;
	width: 3px;
}

.loadBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #130303;
	font-size: large;
}
