@font-face {
  /* font-family: 'Marck Script';
  src: local('Marck Script'), local('MarckScript-Regular'), url("./fonts/MarckScript/marckscript.woff2") format('woff2'), url('./fonts/MarckScript/marckscript.woff') format('woff'), url('./fonts/MarckScript/marckscript.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; */
  /* font-family: 'Classica One';
	src: url('./fonts/ClassicaOne/ClassicaOne.woff2') format('woff2'), url('./fonts/ClassicaOne/ClassicaOne.woff') format('woff');
	font-weight: 400;
	font-style: normal; */
  font-family: 'JakobCTT';
	src:  url('./fonts/jakobctt_8b806cbf869f1c45daf1949a025cd519.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --boxShadow: 8px -8px 18px 8px rgba(167, 171, 173, 0.43);
  --buttonShadow: -8px 15px 43px 20px rgba(132, 138, 51, 0.61) inset;
  --buttonBack: rgb(247 191 6);
  --buttonColor: #e2e3e4;
  --colorText: whitesmoke;
  --textShadow: -1px -1.6px 0px whitesmoke inset;
  --colorBackgroundAll: #a0d7d7bd;
  
  --polygon: (-27% 41%, 100% -47%, 100% 79%, 0% 151%);
}
